<div id="session_card">
  <%= form_for :session do |f| %>
  <table>
    <tr>
      <td class="pad_5 profile_label"><%= f.label :username %></td>
      <td class="pad_5 profile_label"><%= f.text_field :username %></td>
    </tr>
    <tr>
      <td class="pad_5 profile_label"><%= f.label :password %></td>
      <td class="pad_5 profile_label"><%= f.text_field :password %></td>
    </tr>
  </table>
  <%= f.submit "Log In", id: "form_btn" %>
  <% end %>
</div>
