<h1><ins>Create a new report</ins> </h1>

<%= form_for @report, url: location_reports_path(@location) do |f| %> 
    <%= f.label :title %>
    <%= f.text_field :title %> 

    <%= f.label :body %>
    <%= f.text_field :body %>

<br>
<br>
    <%= f.fields_for :markers do |marker| %>
        <%= marker.label :waterline_distance %><br>
        <%= marker.number_field :waterline_distance %><br/>
    <% end %>
<br>
<br>

    <%= f.submit %>

<% end %>

