<head>
	<style>
		.location{
			display: block;
			margin:auto;
			justify-content: center;
			width: 60%;
			height: 80vh;
			background-color: #268bd2;
			border: 10px;
			border-style: solid;
			border-color: #073642;
			align-items: right;
		}
		.beach{
			width:50%;
			height: 8vh;
			position: relative;
			color: #85b900;
			background-color: currentColor;
			border-left: solid 100px #b5bf00;
			justify-content: right;
			text-align: right;
			float: right;
		
		}
	</style>
</head>

<%= link_to "create report", new_location_report_path(@location) %>


<h1 style="color: #073642; text-align: center;"><%=@location.country%></h1>	
	
<% if @location.markers.length != 0 %>
		<div class="location">

			<div class="beach" id="beach1" style="

				clip-path: polygon(<%=@location.markers[0].waterline_distance%>% 100%, 0 0, 100% 0, 100% 100%);

				"> </div>

			<div class="beach" id="beach2" style="

				clip-path: polygon(<%=@location.markers[1].waterline_distance%>% 100%, <%=@location.markers[0].waterline_distance%>% 0, 100% 0, 100% 100%);
			
				"> </div>

			<div class="beach" id="beach3" style="

			clip-path: polygon(<%=@location.markers[2].waterline_distance%>% 100%, <%=@location.markers[1].waterline_distance%>% 0, 100% 0, 100% 100%);
			"> </div>
			
			<div class="beach" id="beach4" style="

			clip-path: polygon(<%=@location.markers[3].waterline_distance%>% 100%, <%=@location.markers[2].waterline_distance%>% 0, 100% 0, 100% 100%);
			
			"> </div>
			
			<div class="beach" id="beach5" style="

			clip-path: polygon(<%=@location.markers[4].waterline_distance%>% 100%, <%=@location.markers[3].waterline_distance%>% 0, 100% 0, 100% 100%);
			"> </div>
			
			<div class="beach" id="beach6" style="

			clip-path: polygon(<%=@location.markers[5].waterline_distance%>% 100%, <%=@location.markers[4].waterline_distance%>% 0, 100% 0, 100% 100%);
			">> </div>
			
			<div class="beach"id="beach7" style="

			clip-path: polygon(<%=@location.markers[6].waterline_distance%>% 100%, <%=@location.markers[5].waterline_distance%>% 0, 100% 0, 100% 100%);
			">> </div>
			
			<div class="beach"id="beach8" style="

			clip-path: polygon(<%=@location.markers[7].waterline_distance%>% 100%, <%=@location.markers[6].waterline_distance%>% 0, 100% 0, 100% 100%);
			">> </div>
			
			<div class="beach"id="beach9" style="

			clip-path: polygon(<%=@location.markers[8].waterline_distance%>% 100%, <%=@location.markers[7].waterline_distance%>% 0, 100% 0, 100% 100%);
			">> </div>
			
			<div class="beach"id="beach10" style="

			clip-path: polygon(<%=@location.markers[9].waterline_distance%>% 100%, <%=@location.markers[8].waterline_distance%>% 0, 100% 0, 100% 100%);
			">> </div>
		</div>

		<% end %>
		
		<div>
			<%= link_to "Go Back", locations_path, id: "location_show_form_btn" %>
		</div>
