<!DOCTYPE html>
<html>
  <head>
    <title>Seaquence</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a id="nav_logo" class="navbar-brand" href="#">SEAQUENCE_LOGO</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="/login">LOGIN</a></li>
          <li><a href="/users">USERS</a></li>
          <li><a href="/locations">LOCATIONS</a></li>
          <li><a href="/reports">REPORTS</a></li>
        </ul>
      </div>
    </nav>
      
    <%= yield %>
  </body>
</html>
