<!DOCTYPE html>
<html>
  <head>
    <title>Seaquence</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'user', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'locations', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'reports', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'sessions', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar">
      <div class="nav_container">
        <div id="logo">
          <a href="/users"><%= image_tag("seaquence_logo.png", width: "340") %></a>
        </div>
        <div id="nav_menu">
          <table align="center">
            <tr>
              <td align="center" class="h3_white">MENU:</td>
            </tr>
            <% if @current_user %>
            <tr>
              <td> Hello <%= @current_user.first_name %></td>
            </tr>
            <tr><td> <%= link_to 'Log Out', log_out_session_path, method: :delete %></td></tr>
            <% else %>
            <tr>
              <td align="center"> <a class="text_white" href="/sessions/login">LOGIN</a></td>
            </tr>
            <tr>
              <td align="center"><a class="text_white" href="/users/new">SIGN UP</a></td>
            </tr>
            <%end %>
            <tr>
              <td align="center"><a class="nav_text_white" href="/locations/new">CREATE LOCATION</a></td>
            </tr>
          </table>   
        </div>
        <div>
          <%= link_to "ALL LOCATIONS", locations_path, id: "locations_form_btn" %>
        </div>
        <div id="search_form">
          <%= form_tag(users_path, method: :get) do %>
            <table align="left">
              <tr>
                <td class="h2_white">Search User:</td>
              </tr>
              <tr>
                <td width="250"><%= text_field_tag(:search, params[:search], id: "form_box") %></td>
              </tr>
              <tr>
                <td><%= submit_tag("Search", id: "form_btn_nopad") %></td>
              </tr>
            </table>   
          <% end %>  
        </div>
        <div id="search_index">        
            <% if @users.respond_to?("each") %>
            <% @users.each do |user| %>
                <div id="index_card"><%= link_to user.username.upcase, user_path(user), id: "index_list" %></div>
            <% end %>
          <% end %>
          <% if @err %>
            <p class="text_white"><%= @err %></p>
          <% end %>
        </div>
      </div>
    </nav>
    <main>
      <%= yield %>
    </main> 
  </body>
</html>
